@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bevan:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* These are fonts I found which I have used below for the customisation of the website */


/* Jedd Rixon Gibb 40485583 Coursework for SET08101 Web Technologies */
/* This is a website which will host an anagram game called "Scramble" */
/* This is the Css for the webpage */
html{
	height:100%;  
}
/* Without height:100%; the cascading background would stop halfway down, this ensures that the background will adjust for different screen heights */

body{
	display: flex;   
	align-items: center;
	justify-content: center;
	min-height: 70vh;
	background-color: DarkOrange;
	background-image: linear-gradient(DarkOrange, crimson);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

/* these settings are mostly the same, but display flex allows the box to resize itself when the window is bigger or smaller */
/* I have kept this within reason as I still want the game to be a specific size, but it does allow for some movement for users */

.container{ /* this is the main box */
	display: grid;
	place-items: center;
	border-radius: 15px;
	background: LightCyan;
	width: 550px;
	padding: 15px;
}

.container{ /* This is the title 'Scramble'*/
    font-family: "Bungee Spice", sans-serif;
	font-weight: 400;
	font-size: 25px;
	font-style: normal;
	padding-bottom: 5%;
}


.content .word{ /* This is the anagram*/
	text-align: center;
	text-transform: uppercase; /* so that words can't be misunderstood I have it transformed to uppercase for consistency */
	letter-spacing: 20px;
	margin-right: -25px;
	font-family: "Bevan", serif;
	font-weight: 300;
	font-size: 30px;
	font-style: normal;
}

.content #timer{ /* This is the timer */
	text-align: center;
	font-size: 40px;
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	font-style: normal;
}

.content input{ /* This is the user input box*/
	display: flex;
	width: 450px;
	text-align: center;
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.container .buttons{
	display: flex;
	justify-content: space-between;
}


.content button{
	width: calc(100% / 2 - 10px);
	margin-top: 5px;
	border: 1.5px solid transparent;
	outline: none;
	padding: 5px 20px;
	border-radius: 5px;
	color:aliceblue;
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	font-style: normal;
	background: LightSkyBlue;
}


button:hover{ /* This is the hover for both buttons, It changes the colour when the users mouse is on a button in order to highlight it*/
	background-color:aliceblue;
	border: 1.5px solid lightskyblue;
	color: black;
}


.dropButton{
	width:100%;
	
}

.dropDown{
	position: relative;
	
}

.dropContent{
	display:none;
	position: absolute;
	margin-top: 5px;
	border: 1.5px solid transparent;
	outline: none;
	padding: 5px 20px;
	border-radius: 5px;
	background: LightSkyBlue;
	
}

.dropContent a{
	display:block;
	color:aliceblue;
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	font-style: normal;
	text-decoration: none;
	font-size: 15px;
}

.dropDown a:hover{
	color: black;
}

.show{
	display:block;
}

/* Went through a lot of trial and error to sort out positioning and colour scheme but settled on this approch*/
/* This should horizontally align with the center of the screen but will be positioned near the top of the page */