@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bevan:ital@0;1&display=swap');

/* Jedd Rixon Gibb 40485583 Coursework for SET08101 Web Technologies */
/* This is a website which will host an anagram game called "Scramble" */
/* This is the Css for the webpage */


body{
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 50vh;
	background-color: DarkOrange;
	
}

.container{
	display: grid;
	place-items: center;
	border-radius: 15px;
	background: Azure;
	width: 400px;
	padding: 15px;
}

.container{
    font-family: "Bungee Spice", sans-serif;
	font-weight: 400;
	font-style: normal;
}


.content .word{
	text-align: center;
	letter-spacing: 20px;
	text-transform: uppercase;
	font-family: "Bevan", serif;
	font-weight: 400;
	font-style: normal
}
.content .submit{
	text-align:center;
}

.content .buttons{
	text-align:center;
}
/* Went through a lot of trial and error to sort out positioning and colour scheme but settled on this approch*/
/* This should horizontally align with the center of the screen but will be positioned near the top of the page */